@charset "UTF-8";
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 55%;
  letter-spacing: 0.11em;
  font-weight: 385;
  word-spacing: 0.05em;
  scroll-behavior: smooth;
  color: rgb(0, 0, 0);
  font-family: "Poppins";
}

body {
  background-color: rgb(255, 255, 255);
}

.nav {
  width: 100%;
  height: 24vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}
.nav.small {
  height: 8vh; /* Mniejsze menu po scrollu */
  border-bottom: 2px solid rgb(225, 196, 144);
  flex-direction: row; /* Pozycjonowanie poziome */
  justify-content: space-between;
  padding: 0 2rem;
}
.nav.small.nav__up .nav__center {
  display: none;
}
.nav__up {
  width: 100%;
  height: 6vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__up__left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 18%;
  font-size: 2rem;
  height: 100%;
}
.nav__up__left-fb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  transition: 0.5s;
}
.nav__up__left-fb:hover {
  color: rgb(225, 196, 144);
}
.nav__up__left-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  transition: 0.5s;
}
.nav__up__left-phone:hover {
  color: rgb(225, 196, 144);
}
.nav__up__left-phone span {
  margin-left: 0.2em;
  font-size: 1.5rem;
}
.nav__up__center {
  display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 70%;
  font-size: 1.4rem;
  color: rgb(0, 0, 0);
  background-color: rgb(225, 196, 144);
  opacity: 0.6;
}
.nav__up__icon {
  width: 18%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
}
.nav__up__icon-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  transition: 0.5s;
}
.nav__up__icon-search:hover {
  color: rgb(225, 196, 144);
}
.nav__up__icon-userLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  transition: 0.5s;
}
.nav__up__icon-userLogin:hover {
  color: rgb(225, 196, 144);
}
.nav__up__icon-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  transition: 0.5s;
}
.nav__up__icon-cart:hover {
  color: rgb(225, 196, 144);
}
.nav__center {
  width: 90%;
  height: 12vh;
  display: flex;
  justify-content: center;
}
.nav__center-logo {
  background-image: url(../img/azurL.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 40%;
  justify-content: center;
}
.nav__center-logo a {
  border: 1px solid black;
  height: 100%;
  opacity: 0;
  display: flex;
  background-color: pink;
}
.nav__links {
  width: 100%;
  height: 6vh;
  font-size: 1.8rem;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
}
.nav__links__menuBizuteria {
  margin-top: 0.1em;
  position: absolute;
  margin: center;
  background: rgb(255, 255, 255);
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
  display: flex;
  width: 98%;
  height: auto;
  border-radius: 5px;
  border: 2px solid rgb(225, 196, 144);
  align-items: flex-start;
  justify-content: space-around;
  padding: 1em;
  padding-bottom: 3em;
  top: 6vh;
  left: 1vw;
  right: 1vw;
}
.nav__links__menuBizuteria.active {
  visibility: visible;
  opacity: 1;
}
.nav__links__menuBizuteria::before {
  content: "";
  width: 100%;
  height: 0.5vh;
  background-color: rgb(225, 196, 144);
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav__links__menuBizuteria-blok a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.5s;
}
.nav__links__menuBizuteria-blok a:hover {
  color: rgb(225, 196, 144);
}
.nav__links__menuBizuteria-blok h1 {
  font-size: 2rem;
  padding: 0.5em 0;
}
.nav__links__menuBizuteria-blok li {
  list-style-type: none;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 300;
}
.nav__links__item {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.5s;
}
.nav__links__item:hover {
  color: rgb(225, 196, 144);
}
.nav__links__item:hover i {
  animation: move 2s infinite;
}
.nav__links__item i {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}
.nav__links__item.active {
  color: rgb(225, 196, 144);
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(3px);
  }
  40% {
    transform: translateY(-3px);
  }
  60% {
    transform: translateY(3px);
  }
  80% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}
.nav__mobile {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav__mobile__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #ffffff;
}
.nav__mobile__logo img {
  width: 50%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav__mobile__icon {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 2rem;
}
.nav__mobile__icon i {
  padding: 2rem;
  transition: 0.5s;
  font-size: 2.5rem;
}
.nav__mobile__icon i:hover {
  color: rgb(225, 196, 144);
}
.nav__mobile__hamburger {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 2rem;
}
.nav__mobile__hamburger i {
  padding: 2rem;
  transition: 0.5s;
  font-size: 2.5rem;
}
.nav__mobile__hamburger i:hover {
  color: rgb(225, 196, 144);
  transform: scale(-1);
}
.nav__mobile__navPage {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
  padding: 2em;
  overflow-y: auto;
  transform: translateX(-500px);
  transition: transform 1s ease-in-out, opacity 0.9s ease-in-out, visibility 0.9s;
}
.nav__mobile__navPage i {
  padding-top: 1em;
  font-size: 1.5rem;
  text-decoration: none;
}
.nav__mobile__navPage.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}
.nav__mobile__navPage.hiding {
  opacity: 0;
  transform: translateX(-500px);
}
.nav__mobile__navPage-logo {
  width: 100%;
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  height: 10vh;
  margin-top: 1rem;
  width: 100%;
  justify-content: center;
}
.nav__mobile__navPage-logo img {
  width: 30%;
}
.nav__mobile__navPage__menu {
  width: 100%;
  list-style-type: none;
  font-size: 2rem;
  padding: 2em 2em 1em 2em;
}
.nav__mobile__navPage__menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.nav__mobile__navPage__menu li {
  padding: 1em;
  border-top: 2px solid rgb(0, 0, 0);
  margin-top: 2px;
}
.nav__mobile__navPage__menu li:last-child {
  border-bottom: 2px solid rgb(0, 0, 0);
}
.nav__mobile__navPage__menu__item li {
  padding: 1em;
  border-top: 1px solid rgb(230, 213, 184);
  margin-top: 2px;
}
.nav__mobile__navPage__menu__item li:last-child {
  border-bottom: 1px solid rgb(230, 213, 184);
}
.nav__mobile__navPage__menu__item__submenu {
  opacity: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s;
  transform: translateY(-10px);
}
.nav__mobile__navPage__menu__item__submenu.active {
  opacity: 1;
  padding-top: 1em;
  height: auto;
  visibility: visible;
  transform: translateY(0);
}
.nav__mobile__navPage__menu__item__submenu.hiding {
  opacity: 0;
  transform: translateX(-10px);
}
.nav__mobile__navPage__menu__item__submenu__subitem a {
  color: rgb(0, 0, 0);
  font-weight: 250;
}
.nav__mobile__navPage__menu__item__submenu__subitem li {
  padding: 1em;
  margin-top: 2px;
}
.nav__mobile__navPage__menu__item__submenu__subitem li:last-child {
  border-bottom: 2px solid rgb(18, 1, 1);
}
.nav__mobile__navPage__menu__item i {
  font-size: 2rem;
  padding: 0;
  margin-right: 1em;
  cursor: pointer;
}
.nav__mobile__navPage__menu__item input {
  margin-left: 1em;
  padding: 0;
  width: 50%;
  border: 1px solid black;
  border-radius: 5px;
}
.nav__mobile__navPage__menu__item .moreSubMenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__mobile__navPage__menu__item .moreSubMenu .moreSubMenuBTN {
  transition: 0.7s;
}
.nav__mobile__navPage__menu__item .moreSubMenu .moreSubMenuBTN.rotate {
  transform: rotate(180deg);
  color: rgb(225, 196, 144);
}
.nav__mobile__navPage .box_search-phone {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav__mobile__navPage .menuPhone {
  margin: 1em 0 3em 0;
  text-decoration: none;
  font-size: 1.55rem;
  transition: 0.3s ease-in-out;
  color: rgb(0, 0, 0);
}
.nav__mobile__navPage .menuPhone a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.nav__mobile__navPage .menuPhone i {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.nav__mobile__navPage .menuPhone:hover {
  color: rgb(225, 196, 144);
}
.nav__mobile__navPage .search {
  position: relative;
  width: 100%;
  max-width: 320px;
}
.nav__mobile__navPage .search i {
  margin: 0;
  padding: 0;
}
.nav__mobile__navPage .search__input {
  width: 100%;
  padding: 12px 40px 12px 15px; /* Miejsce na ikonę */
  font-size: 16px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.nav__mobile__navPage .search__input:focus {
  border-color: rgb(230, 213, 184);
  box-shadow: 0 0 10px rgb(225, 196, 144);
}
.nav__mobile__navPage .search__input:focus + .search__icon {
  color: rgb(230, 213, 184);
}
.nav__mobile__navPage .search__icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.nav__mobile__navPage .x-close {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem;
  font-size: 2.2rem;
  transition: 0.5s;
}
.nav__mobile__navPage .x-close:hover {
  color: rgb(225, 196, 144);
  transform: scale(-1);
}

.slider {
  width: 100%;
  min-height: 20vh; /* Minimalna wysokość */
  aspect-ratio: 16/9; /* Stały stosunek szerokości do wysokości */
  margin-top: 24vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.slider__box-shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 4;
}
.slider__box__item {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  opacity: 0;
  visibility: hidden;
  transition: 1s all ease-in-out;
}
.slider__box__item.active {
  opacity: 1;
  visibility: visible;
}

.main {
  background-color: rgb(255, 255, 255);
}

.categories {
  width: 100%;
  height: auto;
  padding: 1em;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  margin-top: 6em;
  justify-content: space-between;
  align-items: center;
}
.categories__box {
  width: 22%;
  aspect-ratio: 1/1;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  flex-direction: column;
}
.categories__box__once {
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 4px;
}
.categories__box__once-img {
  width: 100%;
  aspect-ratio: 1/1;
  height: 100%;
  display: flex;
  transition: 0.3s ease-in-out;
}
.categories__box__once-img:hover {
  transform: scale(1.1);
}
.categories__box__once-img:hover p {
  color: rgb(225, 196, 144);
}
.categories__box__name {
  margin-top: 0.6em;
  background-color: rgb(255, 255, 255);
  height: 25%;
  aspect-ratio: 16/9;
  width: 100%;
  text-transform: uppercase;
  font-size: 2.2rem;
  display: flex;
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.5s ease-in-out;
  text-decoration: none;
}
.categories__box__name::after {
  content: "";
  width: 80%;
  height: 1px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 8px;
  transition: 0.2s ease-in-out;
}
.categories__box__name:hover::after {
  background-color: rgb(230, 213, 184);
  width: 90%;
}
.categories__box__name:hover {
  color: rgb(230, 213, 184);
}

.tiles {
  width: 100%;
  margin-top: 5em;
  margin-bottom: 8em;
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
}
.tiles img {
  width: 100%;
  border-radius: 4px;
}
.tiles__up {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}
.tiles__up__one {
  width: 60%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tiles__up__one__contentBox {
  width: 90%;
  position: absolute;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}
.tiles__up__one__contentBox-content {
  font-size: 2.4rem;
  font-weight: 200;
  color: rgb(255, 255, 255);
}
.tiles__up__one__contentBox-link {
  display: flex;
  justify-content: left;
  border: 1px solid rgb(255, 255, 255);
  padding: 1em 4em;
  font-size: 1.4rem;
  font-weight: 200;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
}
.tiles__up__one__contentBox-link:hover {
  background-color: rgb(230, 213, 184);
  transform: scale(0.96);
}
.tiles__up__two {
  padding: 1em;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tiles__up__two__contentBox {
  width: 80%;
  position: absolute;
  height: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.tiles__up__two__contentBox-content {
  font-size: 2.4rem;
  font-weight: 200;
  margin-bottom: 2em;
  color: rgb(255, 255, 255);
}
.tiles__up__two__contentBox-link {
  display: flex;
  justify-content: left;
  border: 1px solid rgb(255, 255, 255);
  padding: 1em;
  padding: 1em 4em;
  font-size: 1.4rem;
  font-weight: 200;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
}
.tiles__up__two__contentBox-link:hover {
  background-color: rgb(230, 213, 184);
  transform: scale(0.96);
}
.tiles__down {
  margin-top: 3em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}
.tiles__down__three {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  position: relative;
}
.tiles__down__three__contentBox {
  width: 90%;
  position: absolute;
  height: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.tiles__down__three__contentBox-content {
  font-size: 2.4rem;
  font-weight: 200;
  margin-bottom: 2em;
  color: rgb(255, 255, 255);
}
.tiles__down__three__contentBox-link {
  display: flex;
  justify-content: left;
  border: 1px solid rgb(255, 255, 255);
  margin-bottom: 1em;
  padding: 1em 4em;
  font-size: 1.4rem;
  font-weight: 200;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
}
.tiles__down__three__contentBox-link:hover {
  background-color: rgb(230, 213, 184);
  transform: scale(0.96);
}
.tiles__down__four {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  position: relative;
}
.tiles__down__four__contentBox {
  width: 90%;
  position: absolute;
  height: 90%;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.tiles__down__four__contentBox-content {
  font-size: 2.4rem;
  font-weight: 200;
  margin-bottom: 2em;
  color: rgb(255, 255, 255);
}
.tiles__down__four__contentBox-link {
  display: flex;
  justify-content: left;
  border: 1px solid rgb(255, 255, 255);
  padding: 1em 4em;
  font-size: 1.4rem;
  font-weight: 200;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
}
.tiles__down__four__contentBox-link:hover {
  background-color: rgb(230, 213, 184);
  transform: scale(0.96);
}

.bestsellers {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

.grawer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(209, 255, 192);
}

.chooseUs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(226, 33, 194);
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 192, 255);
}

@media (min-width: 1200px) {
  .slider {
    height: 74vh;
  }
}
@media (max-width: 992px) {
  .nav {
    height: 10vh;
    flex-direction: row;
    padding: 0 2rem;
  }
  .nav.small {
    height: 10vh;
  }
  .nav__up {
    display: none;
  }
  .nav__up__left {
    display: none;
  }
  .nav__up__center {
    display: none;
  }
  .nav__up__icon {
    display: none;
  }
  .nav__center {
    display: none;
  }
  .nav__center-logo {
    display: none;
  }
  .nav__links {
    display: none;
  }
  .nav__mobile {
    display: flex;
  }
  .slider {
    margin-top: 10vh;
  }
  .categories {
    justify-content: space-evenly;
  }
  .categories__box {
    width: 35%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .tiles__up__one__contentBox-content {
    font-size: 1.8rem;
  }
  .tiles__up__one__contentBox-link {
    font-size: 1rem;
  }
  .tiles__up__two__contentBox-content {
    font-size: 1.8rem;
  }
  .tiles__up__two__contentBox-link {
    font-size: 1rem;
  }
  .tiles__down__three__contentBox-content {
    font-size: 1.8rem;
  }
  .tiles__down__three__contentBox-link {
    font-size: 1rem;
  }
  .tiles__down__four__contentBox-content {
    font-size: 1.8rem;
  }
  .tiles__down__four__contentBox-link {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .categories__box__name {
    margin-top: 0;
    margin-bottom: 1em;
  }
}
@media (max-width: 650px) {
  .categories__box {
    width: 60%;
  }
  .categories__box__name {
    font-size: 2rem;
  }
  .tiles {
    margin-top: 1em;
  }
  .tiles__up {
    flex-direction: column;
  }
  .tiles__up__one {
    width: 90%;
  }
  .tiles__up__two {
    width: 60%;
  }
  .tiles__down {
    flex-direction: column;
  }
  .tiles__down__three {
    width: 60%;
    margin-bottom: 2em;
  }
  .tiles__down__four {
    width: 90%;
  }
}
@media (max-width: 425px) {
  .nav__mobile {
    display: flex;
  }
  .nav__mobile__hamburger i {
    padding: 1.5rem;
    font-size: 2rem;
  }
  .nav__mobile__icon i {
    padding: 1.5rem;
    font-size: 2rem;
  }
}
@media (max-width: 375px) {
  .nav__mobile {
    display: flex;
  }
  .nav__mobile__hamburger i {
    padding: 1rem;
    font-size: 1.8rem;
  }
  .nav__mobile__icon i {
    padding: 1rem;
    font-size: 1.8rem;
  }
  .nav__mobile__logo img {
    width: 60%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .nav__mobile__navPage__menu {
    width: 100%;
    font-size: 1.6rem;
    padding: 2em 2em 1em 2em;
  }
  .nav__mobile__navPage__menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .nav__mobile__navPage__menu__item li {
    padding: 1em;
    margin-top: 2px;
  }
  .nav__mobile__navPage__menu__item__submenu.active {
    opacity: 1;
    padding-top: 1em;
  }
  .nav__mobile__navPage__menu__item i {
    font-size: 2rem;
    padding: 0;
    margin-right: 1em;
    cursor: pointer;
  }
  .nav__mobile__navPage__menu__item input {
    margin-left: 1em;
    padding: 0;
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
  }
  .nav__mobile__navPage__menu__item .moreSubMenu .moreSubMenuBTN {
    font-size: 1.5rem;
  }
  .nav__mobile__navPage .menuPhone {
    margin: 1em 0 3em 0;
    text-decoration: none;
    font-size: 1.2rem;
  }
  .nav__mobile__navPage .search {
    width: 80%;
  }
  .nav__mobile__navPage .search i {
    margin: 0;
    padding: 0;
  }
  .nav__mobile__navPage .search__input {
    font-size: 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
  }
  .nav__mobile__navPage .search__icon {
    font-size: 12px;
  }
  .categories__box__name {
    font-size: 1.8rem;
  }
  .tiles__up__one__contentBox-content {
    font-size: 1.4rem;
  }
  .tiles__up__one__contentBox-link {
    font-size: 0.8rem;
  }
  .tiles__up__two__contentBox-content {
    font-size: 1.4rem;
  }
  .tiles__up__two__contentBox-link {
    font-size: 0.8rem;
  }
  .tiles__down__three__contentBox-content {
    font-size: 1.4rem;
  }
  .tiles__down__three__contentBox-link {
    font-size: 0.8rem;
  }
  .tiles__down__four__contentBox-content {
    font-size: 1.4rem;
  }
  .tiles__down__four__contentBox-link {
    font-size: 0.8rem;
  }
}
@media screen and (orientation: landscape) {
  .nav__mobile img {
    width: 40%;
  }
}/*# sourceMappingURL=main.css.map */