$textDecoration-color: rgb(0, 128, 85);
$hover-color: rgb(230, 213, 184);
$background: rgb(255, 255, 255);
$mainText-color: rgb(0, 0, 0);
$secondText-color: rgb(255, 255, 255);
$thirdText-color: rgb(225, 196, 144);
