@import './colors';
@import './components';
*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 55%;
	letter-spacing: 0.11em;
	word-spacing: 0.05em;
	scroll-behavior: smooth;
	color: $mainText-color;
	font-family: 'Poppins';
}
body {
	background-color: $background;
}

.nav {
	width: 100%;
	height: 24vh;
	background-color: $background;
	display: flex;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	position: fixed;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: $mainText-color;
	transition: all 0.3s ease-in-out;
	z-index: 1000;
	&.small {
		height: 8vh; /* Mniejsze menu po scrollu */

		flex-direction: row; /* Pozycjonowanie poziome */
		justify-content: space-between;
		padding: 0 2rem;
		&.nav__up .nav__center {
			display: none;
		}
	}
	&__up {
		width: 100%;
		height: 6vh;
		background-color: $background;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__left {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			width: 18%;
			font-size: 2rem;
			height: 100%;

			&-fb {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 20%;
				height: 100%;
				transition: 0.5s;
				&:hover {
					color: $thirdText-color;
				}
			}
			&-phone {
				display: flex;
				justify-content: center;
				align-items: center;
				width: auto;
				height: 100%;
				transition: 0.5s;
				&:hover {
					color: $thirdText-color;
				}
				span {
					margin-left: 0.2em;
					font-size: 1.5rem;
				}
			}
		}
		&__center {
			display: flex;
			border-radius: 4px;
			justify-content: center;
			align-items: center;
			width: 60%;
			height: 80%;
			font-size: 1.4rem;
			color: $secondText-color;
			background-color: $textDecoration-color;
		}
		&__icon {
			width: 18%;
			height: 100%;

			display: flex;
			justify-content: space-evenly;
			align-items: center;
			font-size: 2rem;
			&-search {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 20%;
				height: 100%;
				transition: 0.5s;
				&:hover {
					color: $thirdText-color;
				}
			}
			&-userLogin {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 20%;
				height: 100%;
				transition: 0.5s;
				&:hover {
					color: $thirdText-color;
				}
			}
			&-cart {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 20%;
				height: 100%;
				transition: 0.5s;
				&:hover {
					color: $thirdText-color;
				}
			}
		}
	}
	&__center {
		width: 90%;
		height: 12vh;
		display: flex;
		justify-content: center;
		&-logo {
			background-image: url(../img/azurL.png);
			background-position: center;
			background-repeat: no-repeat;
			background-color: $background;
			height: 100%;
			width: 40%;
			justify-content: center;
			a {
				border: 1px solid black;
				height: 100%;
				opacity: 0;
				display: flex;
				background-color: pink;
			}
		}
	}
	&__links {
		width: 100%;
		height: 6vh;
		font-size: 1.8rem;
		display: flex;
		position: relative;
		justify-content: space-around;
		align-items: center;
		&__menuBizuteria {
			margin-top: 0.1em;
			position: absolute;
			margin: center;
			background: $background;
			transition: 0.3s;
			visibility: hidden;
			opacity: 0;
			display: flex;
			width: 98%;
			height: auto;
			border-radius: 5px;
			border: 2px solid $thirdText-color;
			align-items: flex-start;
			justify-content: space-around;
			padding: 1em;
			padding-bottom: 3em;
			top: 6vh;
			left: 1vw;
			right: 1vw;
			&.active {
				visibility: visible;
				opacity: 1;
			}
			&::before {
				content: '';
				width: 100%;
				height: 0.5vh;
				background-color: $thirdText-color;
				position: absolute;
				bottom: 0;
				left: 0;
			}
			&-blok {
				a {
					text-decoration: none;
					color: $mainText-color;
					transition: 0.5s;
					&:hover {
						color: $thirdText-color;
					}
				}
				h1 {
					font-size: 2rem;
					padding: 0.5em 0;
				}
				li {
					list-style-type: none;
					text-align: left;
					font-size: 1.5rem;
					font-weight: 300;
				}
			}
		}
		&__item {
			text-decoration: none;

			color: $mainText-color;
			transition: 0.5s;

			&:hover {
				color: $thirdText-color;
			}
			&:hover i {
				animation: move 2s infinite;
			}
			i {
				font-size: 1.4rem;
				margin: 0;
				padding: 0;
			}

			&.active {
				color: $thirdText-color;
			}
		}

		@keyframes move {
			0% {
				transform: translateY(0);
			}
			20% {
				transform: translateY(3px);
			}
			40% {
				transform: translateY(-3px);
			}
			60% {
				transform: translateY(3px);
			}
			80% {
				transform: translateY(-3px);
			}
			100% {
				transform: translateY(0);
			}
		}
	}
	&__mobile {
		display: none;
		position: relative;
		width: 100%;
		height: 100%;
		background-color: $background;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50%;
			height: 100%;
			background-color: #ffffff;
			img {
				width: 50%;
				max-height: 100%;
				object-fit: cover;
			}
		}
		&__icon {
			width: 25%;
			height: 100%;
			display: flex;
			justify-content: right;
			align-items: center;
			padding-right: 2rem;
			i {
				padding: 2rem;
				transition: 0.5s;
				font-size: 2.5rem;
				&:hover {
					color: $thirdText-color;
				}
			}
		}
		&__hamburger {
			width: 25%;
			height: 100%;
			display: flex;

			justify-content: left;
			align-items: center;
			padding-left: 2rem;
			i {
				padding: 2rem;
				transition: 0.5s;
				font-size: 2.5rem;
				&:hover {
					color: $thirdText-color;
					transform: scale(-1);
				}
			}
		}
		&__navPage {
			display: none;
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			background-color: $background;
			padding: 2em;
			overflow-y: auto; //pozwala skrolowac po rozlenieu menu do elemetowna dole, inaczej znikaly(byly ale nie moglem si edo nich dostac)
			i {
				padding-top: 1em;
				font-size: 1.5rem;
				text-decoration: none;
			}
			&.active {
				display: flex;
			}
			&-logo {
				width: 100%;
				display: flex;
				background-color: $background;
				align-items: center;
				height: 10vh;
				margin-top: 1rem;
				width: 100%;
				justify-content: center;
				img {
					width: 30%;
				}
			}
			&__menu {
				width: 100%;
				list-style-type: none;
				font-size: 2rem;
				padding: 2em 2em 1em 2em;
				a {
					text-decoration: none;
					color: $mainText-color;
				}
				li {
					padding: 1em;
					border-top: 2px solid $mainText-color;
					margin-top: 2px;
					&:last-child {
						border-bottom: 2px solid $mainText-color;
					}
				}
				&__item {
					li {
						padding: 1em;
						border-top: 1px solid $hover-color;
						margin-top: 2px;
						&:last-child {
							border-bottom: 1px solid $hover-color;
						}
					}
					&__submenu {
						opacity: 0;
						height: 0;
						visibility: hidden;
						overflow: hidden;

						transition: transform 0.5s ease-in-out;
						transform: translateY(-10px);
						&.active {
							opacity: 1;
							padding-top: 1em;
							height: auto;
							visibility: visible;
							transform: translateY(0);
						}
						&__subitem {
							a {
								color: $mainText-color;
								font-weight: 250;
							}
							li {
								padding: 1em;
								// border: 25px solid rgb(181, 33, 33);
								margin-top: 2px;
								&:last-child {
									border-bottom: 2px solid rgb(18, 1, 1);
								}
							}
						}
					}

					i {
						font-size: 2rem;
						padding: 0;
						margin-right: 1em;
						cursor: pointer;
					}
					input {
						margin-left: 1em;
						padding: 0;
						width: 50%;
						border: 1px solid black;
						border-radius: 5px;
					}
					.moreSubMenu {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: space-between;

						.moreSubMenuBTN {
							transition: 0.7s;
							&.rotate {
								transform: rotate(180deg);
								color: $thirdText-color;
							}
						}
					}
				}
			}
			.menuPhone {
				margin: 1em 0 3em 0;
				text-decoration: none;
				font-size: 1.55rem;
				transition: 0.3s ease-in-out;
				color: $mainText-color;
				a {
					text-decoration: none;
					color: $mainText-color;
				}
				i {
					text-decoration: none;
					color: $mainText-color;
				}
				&:hover {
					color: $thirdText-color;
				}
			}
			.search {
				position: relative;
				width: 100%;
				max-width: 320px;
				i {
					margin: 0;
					padding: 0;
				}
				&__input {
					width: 100%;
					padding: 12px 40px 12px 15px; /* Miejsce na ikonę */
					font-size: 16px;
					border: 1px solid $mainText-color;
					border-radius: 15px;
					outline: none;
					transition: all 0.3s ease-in-out;
					&:focus {
						border-color: $hover-color;
						box-shadow: 0 0 10px $thirdText-color;
					}
					&:focus + .search__icon {
						color: $hover-color;
					}
				}
				&__icon {
					position: absolute;
					right: 15px;
					top: 50%;
					transform: translateY(-50%);
					font-size: 18px;
					color: #888;
					transition: color 0.3s ease-in-out;
					cursor: pointer;
				}

				// display: flex;
				// padding: 0.5em 2em;
				// width: 100%;
				// height: 5vh;
				// cursor: pointer;
				// justify-content: left;
				// align-items: flex-start;
				// i {
				// 	margin-top: 0.4em;
				// 	margin-left: 2em;
				// 	margin-right: 0.5em;
				// 	padding: 0;
				// 	font-size: 2.1rem;
				// 	cursor: pointer;
				// }
				// input {
				// 	width: 50%;
				// 	height: 4vh;
				// 	font-size: 1.8rem;
				// 	border: 1px solid black;
				// 	border-radius: 5px;

				// 	transition: 0.5s;
				// 	cursor: pointer;
				// 	&:focus {
				// 		border: 1px solid $thirdText-color;
				// 		outline: none;
				// 	}
				// }
			}
			.x-close {
				position: absolute;
				top: 0;
				left: 0;
				padding: 3rem;
				font-size: 2.2rem;
				transition: 0.5s;
				&:hover {
					color: $thirdText-color;
					transform: scale(-1);
				}
			}
		}
	}
}
.slider {
	width: 100%;
	height: 70vh;
	margin-top: 24vh;
	background-color: grey;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.main {
	background-color: $background;
}
.categories {
	width: 100%;
	height: 45vh;
	background-color: teal;
	display: flex;
	justify-content: center;
	align-items: center;
	&__box {
		width: 25%;
		height: 45vh;
		margin: 0 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		&__once {
			background-color: yellow;
			height: 30vh;
			width: 100%;
		}
		&__name {
			margin-top: 1em;
			background-color: rgb(255, 0, 162);
			height: 10vh;
			width: 100%;
		}
	}
}
.tiles {
	width: 100%;
	height: 120vh;
	background-color: purple;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	&__up {
		width: 100%;
		height: 70vh;
		background-color: rgb(0, 255, 195);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		&__one {
			width: 60%;
			height: 70vh;
			background-color: red;
		}
		&__two {
			width: 40%;
			height: 70vh;
			background-color: rgb(255, 204, 0);
		}
	}
	&__down {
		width: 100%;
		height: 50vh;
		background-color: rgb(57, 48, 231);
		&__three {
			width: 100%;
			height: 50vh;
			background-color: rgb(0, 255, 68);
		}
	}
}
// MEDIA
@media screen and (orientation: landscape) {
	.nav {
		&__mobile {
			img {
				width: 40%;
			}
		}
	}
}
@media (max-width: 992px) {
	.nav {
		height: 10vh;
		flex-direction: row;
		padding: 0 2rem;
		&.small {
		}
		&__up {
			display: none;
			&__left {
				display: none;
			}
			&__center {
				display: none;
			}
			&__icon {
				display: none;
			}
		}
		&__center {
			display: none;
			&-logo {
				display: none;
			}
		}
		&__links {
			display: none;
		}
		&__mobile {
			display: flex;
		}
	}
	.slider {
		margin-top: 10vh;
	}
}
@media (max-width: 425px) {
	.nav {
		&__mobile {
			display: flex;
			&__hamburger {
				i {
					padding: 1.5rem;
					font-size: 2rem;
				}
			}
			&__icon {
				i {
					padding: 1.5rem;
					font-size: 2rem;
				}
			}
		}
	}
}
@media (max-width: 375px) {
	.nav {
		&__mobile {
			display: flex;
			&__hamburger {
				i {
					padding: 1rem;
					font-size: 1.8rem;
				}
			}
			&__icon {
				i {
					padding: 1rem;
					font-size: 1.8rem;
				}
			}
			&__logo {
				img {
					width: 60%;
					max-height: 100%;
					object-fit: cover;
				}
			}
			&__navPage {
				&__menu {
					width: 100%;

					font-size: 1.6rem;
					padding: 2em 2em 1em 2em;

					a {
						text-decoration: none;
						color: $mainText-color;
					}
					&__item {
						li {
							padding: 1em;
							margin-top: 2px;
						}
						&__submenu {
							&.active {
								opacity: 1;
								padding-top: 1em;
							}
						}

						i {
							font-size: 2rem;
							padding: 0;
							margin-right: 1em;
							cursor: pointer;
						}
						input {
							margin-left: 1em;
							padding: 0;
							width: 50%;
							border: 1px solid black;
							border-radius: 5px;
						}
						.moreSubMenu {
							.moreSubMenuBTN {
								font-size: 1.5rem;
							}
						}
					}
				}
				.menuPhone {
					margin: 1em 0 3em 0;
					text-decoration: none;
					font-size: 1.2rem;
				}
				.search {
					width: 80%;

					i {
						margin: 0;
						padding: 0;
					}
					&__input {
						font-size: 12px;
						border: 1px solid $mainText-color;
						border-radius: 15px;
					}
					&__icon {
						font-size: 12px;
					}
				}
			}
		}
	}
}
